body {
  margin: 8px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

form {
  margin: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

ul {
  display: inline-block;
  text-align: left;
}
